.prudct_title{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px !important;
    .btnNexPre{
        text-align: right;
        cursor: pointer;
    }
    
}
// .product_list{
//     p{
//         text-align: center;
//     }
// }