* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product {
  background: #FFE0C3;
  text-align: center;
  padding: 10px 0;
}

.product a img {
  margin: 0 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 500px) {
  .product a img {
    width: 20%;
  }
}

.product a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.discount {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 15px !important;
  grid-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .discount {
    display: block;
    padding: 0 50px;
  }
}

.discount .discount_data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background: #ffe0c3;
  text-align: left;
}

.discount .discount_data p {
  padding: 15px;
}

@media screen and (max-width: 997px) {
  .discount .discount_data p {
    padding: 10px;
  }
}

.discount .discount_main {
  border: 2px solid #ff7b54;
  text-align: center;
  padding: 30px 0;
}

.discount .discount_main .discount_title {
  font-size: 26px;
  font-weight: bold;
}

.discount .discount_main .discount_content {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .br768 {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .br768 {
    display: block;
  }
}

.prudct_title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-top: 20px !important;
}

.prudct_title .btnNexPre {
  text-align: right;
  cursor: pointer;
}

.main_size {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main_size {
    width: 100%;
  }
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 10px 0;
}

nav .icon_img {
  text-align: right;
}

nav .icon_img a img {
  margin: 0 5px;
}

.exhibit {
  position: relative;
}

.exhibit .Original1 {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.exhibit .point1 {
  position: absolute;
  top: 65%;
  left: 25%;
  cursor: pointer;
}

.exhibit .point1:hover .point_img1 {
  width: 25%;
}

.exhibit .point1:hover .product_data {
  display: block;
}

.exhibit .point1 .point_img1 {
  width: 100%;
}

.exhibit .point2 {
  position: absolute;
  top: 51%;
  left: 50%;
}

.exhibit .point2:hover .point_img1 {
  width: 25%;
}

.exhibit .point2:hover .product_data {
  display: block;
}

.exhibit .point3 {
  position: absolute;
  top: 57%;
  left: 85%;
}

.exhibit .point3:hover .point_img1 {
  width: 25%;
}

.exhibit .point3:hover .product_data {
  display: block;
}

.product_data {
  display: none;
  width: 150px;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */